<section class="h1-h1">
    <div class="titulo-sobre">
        <h1 class="texto-h1">Nossa Trajetoria</h1>
        <p class="para-p">Conservação e Educação para Todos</p>
    </div>
</section>

<!-- cards1 ////////////////////////////////////////////////////////////////////////////////////////////// -->

<div class="pricing-table">
    <div class="pricing-plan">
        <img src="/assets/Captura de tela 2024-11-24 123727.png" alt="">
        <h2>Fundação do Zoológico</h2>
        <p>O zoológico foi fundado em 1985 com a missão de promover a conservação da vida selvagem e a educação
            ambiental. Desde então, tem sido um espaço dedicado ao aprendizado e à preservação das espécies ameaçadas de
            extinção. Com o passar dos anos, expandimos nossas instalações e programas, sempre focando na qualidade do
            cuidado dos animais e na experiência do visitante.</p>

        <button>Saiba Mais</button>
    </div>

    <div class="pricing-plan">
        <img src="/assets/Captura de tela 2024-11-24 123900.png" alt="">
        <h2>Missão e Valores</h2>
        <p>Nosso compromisso é com a conservação da biodiversidade e a educação do público sobre a importância da vida
            selvagem. Acreditamos que promover o respeito e a compreensão pelas espécies animais é fundamental para
            assegurar um futuro sustentável. Nossos valores refletem a ética de cuidado, educação, e responsabilidade
            ambiental.</p>

        <button>Saiba Mais</button>
    </div>

    <div class="pricing-plan">
        <img src="/assets/Captura de tela 2024-11-24 123932.png" alt="">
        <h2>Impacto na Comunidade</h2>
        <p>Ao longo de nossa história, o zoológico tem sido um pilar na comunidade, oferecendo programas educacionais e
            eventos que conectam o público ao mundo da vida selvagem. Trabalhamos em parceria com escolas e organizações
            locais para promover a conscientização sobre a conservação. Acreditamos que juntos podemos fazer a diferença
            pela natureza.</p>

        <button>Saiba Mais</button>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<!-- parte 2 da pag Sobre o Zoologico///////////////////////////////////////////////////////////////////// -->



<section class="h1-h1-h1">
    <div class="titulo-sobre">
        <h1 class="texto-h1">Nossos Especialistas</h1>
        <p class="para-p">Cuidando do Futuro da Vida Selvagem</p>
    </div>
</section>

<!-- card-cuidador-1//////////////////////////////////////// -->

<div class="card-cuidador">
    <img src="/assets/Captura de tela 2024-11-24 125908.png" alt="">
    <div class="div-text">
        <h2 class="h2-equipe">Equipe de Cuidadores</h2>
        <p class="p-equipe">Nossa equipe de cuidadores é composta por profissionais apaixonados e experientes que
            dedicam suas vidas ao bem-estar dos animais. Eles garantem que cada animal receba o cuidado adequado e
            atenção, criando um ambiente saudável e estimulante para todos.</p>
    </div>
</div>

<!-- car-cuidado-2/////////////////////////////////////////////////////////////////////////////////// -->

<div class="card-cuidador-2">
    <div class="div-text">
        <h2 class="h2-equipe">Biólogos e Veterinários</h2>
        <p class="p-equipe">Contamos com uma equipe de biólogos e veterinários especializados em diversas áreas da vida
            selvagem. Eles realizam pesquisas e monitoramento de saúde, além de implementar programas de reprodução e
            reabilitação para espécies ameaçadas. Seu conhecimento é crucial para nossos esforços de conservação.</p>
    </div>
    <img src="/assets/Captura de tela 2024-11-24 131844.png" alt="">
</div>

<!-- card-cuidador-3//////////////////////////////////////////// -->

<div class="card-cuidador">
    <img src="/assets/Captura de tela 2024-11-24 132638.png" alt="">
    <div class="div-text">
        <h2 class="h2-equipe">Educadores Ambientais</h2>
        <p class="p-equipe">Nossos educadores ambientais são responsáveis por criar e implementar programas que educam o
            público sobre a importância da conservação. Eles interagem com os visitantes, oferecendo informações
            valiosas sobre os animais e suas habitats, promovendo uma maior conexão com a natureza.</p>
    </div>
</div>

<!-- parte 3 da pag Sobre o Zoologico///////////////////////////////////////////////////////////////////// -->


<!-- card-part-1////////////////// -->

<div class="oi-tela">
    <div class="card-educacao">
        <img class="img-educacao" src="/assets/Captura de tela 2024-11-24 134849.png" alt="">
        <div class="div-text">
            <h2 class="h2-equipe">Educação e Conscientização</h2>
            <p class="p-equipe">Nosso zoológico não é apenas um espaço de entretenimento, mas um centro de aprendizado
                para a comunidade. Por meio de visitas escolares e workshops, educamos crianças e adultos sobre a
                importância da conservação e como cada um pode contribuir para a proteção do meio ambiente.</p>
        </div>
    </div>

    <!-- card-part-2////////////////// -->


    <div class="card-educacao">
        <img class="img-educacao" src="/assets/Captura de tela 2024-11-24 134451.png" alt="">
        <div class="div-text">
            <h2 class="h2-equipe">Eventos e Iniciativas</h2>
            <p class="p-equipe">Regularmente, organizamos eventos que incentivam a participação da comunidade em ações
                de conservação. Desde limpezas de parques até campanhas de arrecadação, cada evento é uma oportunidade
                para unir forças em prol da proteção da fauna e flora locais.</p>
        </div>
    </div>

    <!-- card-part-3////////////////// -->


    <div class="card-educacao">
        <img class="img-educacao" src="/assets/Captura de tela 2024-11-24 134533.png" alt="">
        <div class="div-text">
            <h2 class="h2-equipe">Parcerias Locais</h2>
            <p class="p-equipe">Trabalhamos em colaboração com diversas organizações e instituições locais para promover
                a conservação e o bem-estar animal. Essas parcerias ampliam o alcance de nossas iniciativas e garantem
                que juntos possamos fazer um impacto significativo na preservação da vida selvagem.</p>
        </div>
    </div>
</div>
<footer class="rodape">
    <div class="oi-oi">
        ©2024 Orgulhosamente criado por Sr-Samir/Sr-Ericles
    </div>
</footer>
