

.cabecalho{
    display: flex;
    justify-content: center;
    background-color: var(--white1);
    height: 7rem;
    width: 100vw;
    flex-wrap: wrap;
    
    
}

.cabecalho img{
    height: 6rem;
    position: relative;
    top: 5px;
}