<header class="header1">
    <h1>Explore a Vida Selvagem</h1>
    <p>Descubra a diversidade fascinante dos nossos animais, organizados por seus habitats naturais.</p>
</header>
<main>
    <div class="gallery-container">
        <a href="" class="gallery-items">
            <img src="/assets/Captura de tela 2024-11-24 195201.png" alt="">
        </a>
        <a href="" class="gallery-items">
            <img src="/assets/Captura de tela 2024-11-24 195212.png" alt="">
        </a>
        <a href="" class="gallery-items">
            <img src="/assets/Captura de tela 2024-11-24 195241.png" alt="">
        </a>
        <a href="" class="gallery-items">
            <img src="/assets/Captura de tela 2024-11-24 195227.png" alt="">
        </a>
        <a href="" class="gallery-items">
            <img src="/assets/Captura de tela 2024-11-24 184525.png" alt="">
        </a>
        <a href="" class="gallery-items">
            <img src="/assets/Captura de tela 2024-11-24 185419.png" alt="">
        </a>
    </div>
</main>

<!-- Galeria Animals e exibicoes////////////////////////// -->

<!-- Sobre o Zoologico ////////////////////////////////////////////////////////////////////////////////-->

<section class="h1-h1">
    <div class="titulo-sobre">
        <h1 class="texto-h1">Conheça Nossos Habitantes</h1>
        <p class="para-p">Aprofunde-se nas características de cada animal e sua importância para o ecossistema.</p>
    </div>
</section>

<!-- cards1 ////////////////////////////////////////////////////////////////////////////////////////////// -->

<div class="pricing-table">
    <div class="pricing-plan">
        <img src="/assets/Captura de tela 2024-11-24 184525.png" alt="">
        <h2>Jaguar - O Predador Silencioso</h2>
        <p id="card1">O jaguar é um dos maiores felinos do mundo, conhecido por sua força e habilidades de caça. Habita
            principalmente florestas tropicais e savanas, onde se alimenta de uma variedade de presas, desde peixes até
            mamíferos de grande porte. Sua presença é crucial para o equilíbrio do ecossistema, ajudando a controlar as
            populações de outras espécies.</p>

        <button>Saiba Mais</button>
    </div>

    <div class="pricing-plan">
        <img src="/assets/Captura de tela 2024-11-24 184140.png" alt="">
        <h2>Impacto na comunidade</h2>
        <p id="card">As girafas são os animais mais altos do planeta, facilmente reconhecíveis por seus longos pescoços
            e manchas únicas. Elas habitam savanas e áreas abertas da África, alimentando-se principalmente de folhas de
            árvores altas. A conservação das girafas é vital, pois elas ajudam a moldar o ambiente ao se alimentarem,
            influenciando a vegetação disponível para outras espécies.</p>

        <button>Saiba Mais</button>
    </div>

    <div class="pricing-plan">
        <img src="/assets/Captura de tela 2024-11-24 184347.png" alt="">
        <h2>Giraffe - A Gigante Serenidade</h2>
        <p id="ajusta-p"> longo de nossa história, o zoológico tem sido um pilar na comunidade, oferecendo programas
            educacionais e eventos que conectam o público ao mundo da vida selvagem. Trabalhamos em parceria com escolas
            e organizações locais para promover a conscientização sobre a conservação. Acreditamos que juntos podemos
            fazer a diferença pela natureza.</p>

        <button>Saiba Mais</button>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<!-- parte 2 da pag Sobre o Zoologico///////////////////////////////////////////////////////////////////// -->



<section class="h1-h1-h1">
    <div class="titulo-sobre">
        <h1 class="texto-h1">Mergulhe no Conhecimento</h1>
        <p class="para-p">Amplie sua compreensão sobre a vida selvagem com nossos recursos multimídia.</p>
    </div>
</section>

<!-- card-cuidador-1//////////////////////////////////////// -->

<div class="card-cuidador">
    <img src="/assets/Captura de tela 2024-11-24 185152.png" alt="">
    <div class="div-text">
        <h2 class="h2-equipe">Documentário sobre o Jaguar</h2>
        <p class="p-equipe">Assista a um documentário fascinante que explora a vida e os hábitos do jaguar em seu
            habitat natural.</p>
    </div>
</div>

<!-- car-cuidado-2/////////////////////////////////////////////////////////////////////////////////// -->

<div class="card-cuidador-2">
    <div class="div-text">
        <h2 class="h2-equipe">Sons da Floresta</h2>
        <p class="p-equipe">Ouça a trilha sonora da floresta tropical, repleta de sons de animais, incluindo o
            macaco-aranha, em seu ambiente.</p>
    </div>
    <img src="/assets/Captura de tela 2024-11-24 185305.png" alt="">
</div>

<!-- card-cuidador-3//////////////////////////////////////////// -->

<div class="card-cuidador">
    <img src="/assets/Captura de tela 2024-11-24 185419.png" alt="">
    <div class="div-text">
        <h2 class="h2-equipe">Giraffe em Movimento</h2>
        <p class="p-equipe">Veja um vídeo impressionante das girafas em seu habitat, mostrando suas interações sociais e
            alimentação.</p>
    </div>
</div>

<!-- rodape////////////////// -->

<footer class="rodape">
    <div class="oi-oi">
        ©2024 Orgulhosamente criado por Sr-Samir/Sr-Ericles
    </div>
</footer>