<router-outlet/>



<header class="cabecalho">
    <div class="logo">
      <img src="/assets/logotipo-bica.png" alt="logo" class="logo">
    </div>
  </header>

 

<nav class="barra-nav">
    <ol class="lista-nav">
        <li><a href="#">Página Inicial</a></li>
        <li><a href="#">Sobre o Zoológico</a></li>
        <li><a href="#">Animais e Exibições</a></li>
        <li><a href="#">Conservação</a></li>
        <li><a href="#">Contato</a></li>
    </ol>
</nav>

<main>
  <section>


    <div class="principal-img">
    <span class="nome-main">Parque Zoobotânico Arruda câmara</span>

      <img src="/assets/principal-macaco.jpg" alt="imagem" class="imgflex">
    </div>
  </section>
</main>