<div class="conservação-1">
    <h1 class="con-h1">Iniciativas de Conservação que Fazem a Diferença</h1>
    <p>Junte-se a nós na proteção da vida selvagem!</p>
</div>

<div class="pricing-table">
    <div class="pricing-plan">
        <img src="/assets/Captura de tela 2024-11-24 205440.png" alt="">
        <p>Acreditamos que a educação é fundamental para a conservação. Por isso, promovemos programas educativos para
            escolas e comunidades, abordando a importância da proteção da vida selvagem e dos ecossistemas. Nossos
            workshops e palestras são projetados para despertar o interesse e a responsabilidade ambiental nas novas
            gerações, preparando-as para serem defensoras da natureza.</p>
    </div>

    <div class="pricing-plan">
        <img src="/assets/Captura de tela 2024-11-24 205729.png" alt="">
        <p>Nossas iniciativas de reabilitação desempenham um papel crucial na recuperação de animais feridos ou órfãos.
            Após receber tratamento adequado, muitos desses animais são reintroduzidos em seus habitats naturais. Nossa
            equipe de especialistas dedica-se a garantir que esses animais possam sobreviver e prosperar em ambientes
            selvagens, contribuindo assim para a biodiversidade do nosso planeta.</p>
    </div>

    <div class="pricing-plan">
        <img src="/assets/Captura de tela 2024-11-24 205843.png" alt="">
        <p>Nosso zoológico está ativamente envolvido em programas de conservação que visam proteger espécies ameaçadas
            de extinção. Trabalhamos em parceria com organizações locais e internacionais para monitorar e preservar os
            habitats naturais de animais como a onça-pintada e o mico-leão-dourado. Acreditamos que, ao educar o público
            sobre a importância destas espécies, podemos inspirar ações que promovam sua sobrevivência a longo prazo.
        </p>
    </div>
</div>


<!-- /////////////////////////////////////////////////////////////////// -->

<div class="conser-pri">
    <div class="pricing-table-1">
        <div class="pricing-plan-1">
            <img class="img-con" src="/assets/Captura de tela 2024-11-24 211115.png" alt="">
            <h2>Adoção de Animais</h2>
            <p>Você pode ajudar a garantir a proteção de nossos animais por meio do programa de adoção simbólica. Ao
                adotar um animal, você contribui diretamente para os cuidados e a conservação da espécie. Além de
                receber atualizações sobre a vida do seu animal adotado, você também participa de ações que promovem a
                preservação do seu habitat natural.</p>
            <button id="teimoso">Saiba Mais</button>
        </div>

        <div class="pricing-plan-1">
            <img class="img-con" src="/assets/Captura de tela 2024-11-24 211147.png" alt="">
            <h2>Doações e Patrocínios</h2>
            <p>As doações são essenciais para manter nossas iniciativas de conservação. Com sua generosidade, podemos
                financiar projetos de pesquisa, reabilitação e educação ambiental. Oferecemos diferentes opções de
                patrocínio que permitem que você escolha como gostaria de contribuir, tornando-se um parceiro ativo na
                proteção da vida selvagem e dos ecossistemas.</p>
            <button>Saiba Mais</button>
        </div>

        <div class="pricing-plan-1">
            <img class="img-con" src="/assets/Captura de tela 2024-11-24 211228.png" alt="">
            <h2>Voluntariado</h2>
            <p>Junte-se a nós como voluntário e faça parte de nossa equipe de conservação! Temos diversas oportunidades
                para que você possa contribuir, desde ajudar no cuidado dos animais até participar de eventos
                educativos. O voluntariado não apenas proporciona uma experiência enriquecedora, mas também é uma
                maneira eficaz de impactar positivamente a vida selvagem e a comunidade local.</p>
            <button>Saiba Mais</button>
        </div>
    </div>
</div>

<!-- < rodape////////////////// -- -->

<footer class="rodape">
    <div class="oi-oi">
        ©2024 Orgulhosamente criado por Sr-Samir/Sr-Ericles
    </div>
</footer>