
section{
    display: flex;
 }


 .principal-img { 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    position: relative;
    top: -31px;
    
    
}
.imgflex{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 90%;
    filter: brightness(110%) contrast(110%) saturate(120%);
}

.nome-main{
    
    z-index: 1;
    
    opacity: 6;
    font-family: 'Times New Roman', Times, serif;
    font-size:1.5rem;
    position: absolute;
    letter-spacing: 1px;
    color: #25995c;
    top: 30px;
    left: 30px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-weight: bolder;
    backdrop-filter: blur(50px);
    padding: 0 10px;
    border-radius: 5px;

}

