

section{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    gap: 10px;
 }


 .principal-img { 
    margin-top: 125px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    position: relative;
    top: -31px;
    border-bottom: 1px solid black ;

    
    
}
.imgflex{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 90%;
    filter: brightness(110%) contrast(110%) saturate(120%);
}

.nome-main{

    z-index: 30;
    opacity: 6;
    font-family: 'Times New Roman', Times, serif;
    font-size:1.5rem;
    position: absolute;
    letter-spacing: 1px;
    color: #25995c;
    top: 30px;
    left: 30px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-weight: bolder;
    backdrop-filter: blur(50px);
    padding: 0 10px;
    border-radius: 5px;
    

}

/* ------------section cards------------------ */
main{
    display: flex;
    align-content: center;
    justify-content: center;
    
    
}
.container{
    
    width: 100%;
    height: 450px;
    display: flex;
    position: relative;
    top: 50px;
    

    
}
.texto{

    flex-direction: column;
    display: flex;
    /* background-color:#25995b; */
    left: 50%;
    height: 400px;
    font-size: 1.2rem;
    text-align: center;
    padding: 0  12px;
    padding-top: 10px;
    letter-spacing: 1px;
}

    
.card1{
    display: flex;
    margin-top: 80px;
}


.img-card1{
 width: 600px;
 height: 400px;
 
 
}


.paragrafo{
 margin-top: 30px;
 font-weight: 100;
 line-height:2rem;
 text-align: center;
}
    

#btn{
    display: flex;
    background-color: #050505;
    color: white;
    padding: 9px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 85px;
    margin: 0 auto;
    margin-top: 20px;
    

}


  
  #btn:hover {
    background-color: #004d40;
  }

    
/* -------------------sessao-2------------------------------------ */

.sessao-2{
    margin-top:150px;
    background-color: #fff;
    width: 100%;
    height: 1000px;
    display: flex;
    
}

.titulo-2{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 40px;
    gap: 10px;
}

.titulo-2 span{

    margin-bottom: 40px;
}

.titulo-2 h1{
    font-weight: 900;
    color: #25995c;
}



.princ img{
    width: 300px;
    height: 200px;
    display: flex;
    margin-left: 20px;
    border-radius: 50px;
}

.princ{
    width: 1200px;
    height: 265px;
    display: flex;
    margin: 6px auto;
    border-radius: 50px;
    justify-content: center;
    text-align: center;
    

}

.princ h3, p{
    display: flex;
    font-size: 1rem;
    margin-left: 15px;
    flex-direction: column;
    margin-top: 100px;
    

}

.princ p{
    margin-left: 25px;
    font-size: 18px;
 
}

.princ h3{
    white-space: nowrap;
    color: #25995c;
    font-size: 1.5rem;

    display: flex;
}
    /* ------------------------------------------------- */


.pricing-table {
        display: flex;
        justify-content: space-around;
        text-align: center;
}
    .h1-h1 {
        display: flex;
        margin-top: 10px;
    } 
    .titulo-sobre h1, p{
        margin-left: 20px;
    }

    .para-p{
        display: flex;
        margin-top: 20px;
        margin-bottom: 40px;
               
        
    }

    .rodape{
        display: flex;
        justify-content: center;
        margin-top: 60px;
        padding-bottom: 30px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        color: #050505;
      }

    

      
    
       .pricing-plan {
        background-color: white;
        padding: 20px;
        /* border-radius: 10px; */
        border: 1px solid  #25995c;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 350px;
      }
      
      .pricing-plan h2 {
        color: #25995c;
      }
      
      .pricing-plan p {
        font-size: 1rem;
        color: #070707;
        margin: 30px 0;
        line-height: 1rem;
        /* background-color: #004d40; */
      }
    
      #card{
        display: flex;
        margin:42px 0 ;
      }
    
      #card1{
        margin: 20px;
      }
    
      
      
      .pricing-plan button {
        background-color: #050505;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      
      .pricing-plan button:hover {
        background-color: #25995c;
      }
    
      .pricing-plan img{
        width: 300px;
      }

    
    
    
 










    