<section>
  <div class="principal-img">
    <span class="nome-main">Parque Zoobotânico Arruda Câmara</span>
    <img src="/assets/principal-macaco.jpg" alt="imagem" class="imgflex">
  </div>
</section>

<main>
  <section class="cards">

    <!-- Card 1 -->
    <div class="card1">
      <div class="container">
        <img src="/assets/santuario-do-macaco.jpg" alt="santuario-do-macaco" class="img-card1">
        <div class="texto">
          <h2>Conservação em ação</h2>
          <p class="paragrafo">Nosso zoológico atua ativamente em<br>programas de conservação que visam<br> proteger
            espécies ameaçadas e restaurar<br>seus habitats naturais.</p>
        </div>
      </div>
    </div> <!-- Fechando card1 -->

    <!-- Card 1 -->
    <div class="card1">
      <div class="container">
        <img src="/assets/santuario-do-macaco.jpg" alt="santuario-do-macaco" class="img-card1">
        <div class="texto">
          <h2>Conservação em ação</h2>
          <p class="paragrafo">Nosso zoológico atua ativamente em<br>programas de conservação que visam<br> proteger
            espécies ameaçadas e restaurar<br>seus habitats naturais.</p>
        </div>
      </div>
    </div> <!-- Fechando card1 -->

    <!-- Card 1 -->
    <div class="card1">
      <div class="container">
        <img src="/assets/santuario-do-macaco.jpg" alt="santuario-do-macaco" class="img-card1">
        <div class="texto">
          <h2>Conservação em ação</h2>
          <p class="paragrafo">Nosso zoológico atua ativamente em<br>programas de conservação que visam<br> proteger
            espécies ameaçadas e restaurar<br>seus habitats naturais.</p>
        </div>
      </div>

    </div> <!-- Fechando card1 -->

  </section> <!-- Fechando section.cards -->
</main>

