<router-outlet/>
<app-header></app-header>
<app-nav></app-nav>





<main>
    <section>
  
  
      <div class="principal-img">
        
          <span class="nome-main">Parque Zoobotânico Arruda câmara</span>
        <img src="/assets/principal-macaco.jpg" alt="imagem" class="imgflex">
      </div>
    </section>

    <section class="cards">
      <div class="container">
        <img src="/assets/santuario-do-macaco.jpg" alt="santuario-do-macaco" class="img-card1">
        
        <div class="texto">
          <h2>Conservação em ação</h2>
        <p id="paragrafo">Nosso zoológico atua ativamente em<br>programas de conservação que visam<br> proteger espécies ameaçadas e restaurar<br>seus habitats naturais.</p>
        </div>
      </div>

      <div class="card2">

        <div class="container">
          <img src="/assets/santuario-do-macaco.jpg" alt="santuario-do-macaco" class="img-card1">
          
          <div class="texto">
            <h2>Conservação em ação</h2>
          <p id="paragrafo">Nosso zoológico atua ativamente em<br>programas de conservação que visam<br> proteger espécies ameaçadas e restaurar<br>seus habitats naturais.</p>
          </div>

      </div>      
      <div class="card3">

        <div class="container">
          <img src="/assets/santuario-do-macaco.jpg" alt="santuario-do-macaco" class="img-card1">
          
          <div class="texto">
            <h2>Conservação em ação</h2>
          <p id="paragrafo">Nosso zoológico atua ativamente em<br>programas de conservação que visam<br> proteger espécies ameaçadas e restaurar<br>seus habitats naturais.</p>
          </div>

      </div>      
     
        
      
    </section>
  </main>


 
